@model RoleModel
@{
    ViewData["Title"] = "NewRole";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section Body{

    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <form method="post">
                    <div class="form-group">

                        <label class="control-label" asp-for="Name"></label>
                        <input type="text" class="form-control" asp-for="Name">
                        <span asp-validation-for="Name"></span>
                    </div>
                   
                   
                    
                    <div class="form-group">


                        <input type="submit" class="btn btn-primary" value="Save"asp-action="CreateRole" >

                    </div>
                </form>
            </div>
        </div>
    </div>
}


