@model List<Department>
@{
    ViewData["Title"] = "DepartmentList";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section Body{

<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>

                @foreach (Department item in Model)
                {
                    <tr>
                        <td>@item.name</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.id" ><span class="glyphicon glyphicon-pencil" ></span></a> 
                           <a asp-action="Delete" asp-route-id="@item.id">
                            <span class="glyphicon glyphicon-trash"></span>
                           </a> 
                        </td>
                    </tr>
}
            </tbody>
        </table>
    </div>
</div>

}


